<footer class="footer">
    <ul class="footer-link">
        <li class="fb"><a href=""></a></li>
        <li class="ig"><a href=""></a></li>
        <li class="line"><a href=""></a></li>
    </ul>
</footer>